<p id="notice"><%= notice %></p>

<p>
  <strong>Photo file name:</strong>
  <%= @item.photo_file_name %>
</p>

<p>
  <strong>Photo content type:</strong>
  <%= @item.photo_content_type %>
</p>

<p>
  <strong>Photo file size:</strong>
  <%= @item.photo_file_size %>
</p>

<p>
  <strong>Photo updated at:</strong>
  <%= @item.photo_updated_at %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
